


.post__name{
    font-weight: 600;
    font-size: 3rem;
}

.Post{
    height: 100vh;
    >div{
        >div{
            color: white;
            display: flex;
            flex-direction: column;
            height: 450px;
            justify-content:space-between ;
            >div{
                text-shadow: 0px 0px 5px #000000;
                margin-bottom: .5rem;
            }
        }
    }
}
